* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.section1 {
  max-width: 1920px;
  width: 100%;
  position: relative;
}

.slide-container {
  display: flex;
}

.Roca-div {
  position: absolute;
  top: 20px;
  left: 20px;
}

.Roca {
  font-size: 40px;
  font-family: poppins;
  font-weight: 1000;
}

.Roca > span {
  color: blue;
  font-size: 33px;
}

.Resume {
  font-family: montserrat;
  color: #b3b3b3;
}

.About-me-div {
  position: absolute;
  top: 0;
  right: 100px;
}

.About-me-01 {
  font-size: 153.3px;
  font-family: poppins;
  font-weight: 1000;
  color: #1c1c1c;
}

.About-me {
  width: 227px;
  font-size: 43.17px;
  font-family: poppins;
  font-weight: 1000;
  color: #373737;
  position: absolute;
  top: 40%;
}

.second-div {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  right: 300px;
  bottom: 300px;
}

.second-div-1 {
  font-family: Glacial Indifference;
  font-size: 50px;
}

.second-div-2 {
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 71px;
}

.second-div-3 {
  font-family: Glacial Indifference;

  font-size: 23px;
}

.second-div-4 {
  padding-top: 80px;
  display: flex;
  gap: 10px;
}

.soc-media-logos {
  max-width: 30px;
  width: 100%;
}

.sat-clients {
  position: absolute;
  bottom: 43px;
  right: 184px;
  font-family: montserrat;
  font-weight: bold;
  font-size: 24px;
}
.div-text > span {
  color: #e93656;
}

.div-line {
  width: 340px;
  height: 6px;
  background-color: #e93656;
  margin-top: 20px;
}

.slide {
  width: 100%;
  max-width: 0;
}

.active {
  animation-name: active;
  animation-duration: 1s;
  max-width: 100%;
  width: 1920px;
  height: 960px;
}

@keyframes active {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 703px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 334px;
}

.my-name {
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 40px;
  color: #222222;
  text-align: right;
}

.my-profession {
  font-family: Muli;
  font-size: 14px;
  color: #daae19;
  text-align: right;
  margin: 6px 0 32px 0;
}

.my-text {
  font-family: Muli;
  font-size: 15px;
  color: #555555;
  text-align: right;
}

.Hire-Me {
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  width: 152px;
  height: 50px;
  background-color: #e93656;
  margin-top: 60px;
  cursor: pointer;
}

.my-photo > img {
  max-width: 430px;
  width: 100%;
  margin: 0 60px;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 302px;
  gap: 38px;
}

.skills h1 {
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 20px;
  color: #555555;
}

.line-100 {
  width: 300px;
  height: 9px;
  background-color: #f0f0f0;
}
.line1-0 .line2-0 .line3-0 .line4-0 {
  width: 0%;
  height: 9px;
  background-color: #e93656;
}

.line-80 {
  width: 80%;
  height: 9px;
  background-color: #e93656;
  transition: 2s;
  transition-delay: 2s;
}

.line-65 {
  width: 65%;
  height: 9px;
  background-color: #e93656;
  transition: 2s;
  transition-delay: 2s;
}

.line-50 {
  width: 50%;
  height: 9px;
  background-color: #e93656;
  transition: 2s;
  transition-delay: 2s;
}

.line-30 {
  width: 30%;
  height: 9px;
  background-color: #e93656;
  transition: 2s;
  transition-delay: 2s;
}

.icons {
  margin-top: 78px;
  max-width: 300px;
  display: flex;
}
.icons > a > div {
  max-width: 50px;
}

.icons > a > div:hover {
  background-color: #15263e;
  transition: 2s;
}

.icons > a > div:hover .icon-white {
  display: flex;
}

.icons > a > div:hover .icon-dark {
  display: none;
}

.icon-white {
  display: none;
}

.icons > img {
  margin-top: 78px;
  max-width: 50px;
}

.icons > img:hover {
  background-color: #15263e;
  transition: 2s;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 210px;
  background-color: #131a36;
  gap: 50px;
}

.section3 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section3 > div > a > img {
  border: #ffffff 2px;
  border-radius: 45px;
  border-style: dashed;
}

.section3 > div > a > img:hover {
  background-color: #e93656;
}

.contact-text > h1 {
  color: #ffffff;
  width: 170px;
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 25px;
}

.contact-text > p {
  font-family: "Muli";
  font-size: 14px;
  color: #ffffff;
  width: 170px;
}

.section4 {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 1100px;
  background-color: #fafafa;
}

.section4 > div {
  background-color: #fafafa;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  width: 285px;
  height: 360px;
}

.card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  width: 285px;
  height: 360px;
}

.card-head > h1 {
  font-family: Glacial Indifference;
  font-weight: 500;
  font-size: 22px;
  color: #222222;
}

.card-info {
  background-color: #15263e;
  width: 285px;
  height: 360px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-info > h1 {
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.42;
  color: #ffffff;
}

.card-info > p {
  margin-top: 19px;
  width: 222px;
  font-family: Muli;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #ececec;
  line-height: 2;
}

.card:hover .card-head {
  display: none;
}

.card:hover .card-info {
  display: flex;
  animation-name: change;
  animation-duration: 0.5s;
}

@keyframes change {
  from {
    height: 0;
  }
  to {
    height: 360px;
  }
}

.section5 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 570px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}

.rs-slides {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.rs-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sec5-paragraph {
  max-width: 497px;
  height: 78px;
  font-family: roboto;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0.45px;
  line-height: 1.6;
}

.round-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  border: white dashed 2px;
  border-radius: 85px;
}

.rs-1 {
  display: flex;
  width: 140px;
  border-radius: 70px;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.paragraph1 {
  font-size: 90px;
  font-weight: bold;
}

.paragraph2 {
  font-family: roboto;
  font-size: 13px;
  color: #e93656;
}

.paragraph3 {
  width: 250px;
  font-family: Glacial Indifference;
  font-size: 28px;
}

.rs-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rs-button {
  width: 13px;
  height: 13px;
  border: 2px solid #ffffff;
  background: #ffffff00 0% 0% no-repeat padding-box;
  cursor: pointer;
}

.rs-button2 {
  width: 13px;
  height: 13px;
  border: 2px solid #e93656;
  background: #ffffff00 0% 0% no-repeat padding-box;
}

.section6 {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1920px;
  width: 100%;
  height: 1163px;
}

.section6 > h1 {
  color: #2e2e2e;
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 70px;
}

.latest-projects {
  display: flex;
  gap: 30px;
}

.nav-div {
  background-color: #15263e;
  width: 240px;
  height: 401px;
  padding: 50px;
}

.lp-cards {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.lp-card {
  width: 300px;
  height: 350px;
  position: relative;
  display: none;
}

.lp-card:hover > img {
  opacity: 0.5;
  filter: blur(5px);
  transition: 0.5s;
}

.lp-card:hover .lp-card-info {
  display: flex;
  transition-duration: 0.5s;
}

.lp-card-info {
  background-color: #000000;
  opacity: 0.7;
  width: 300px;
  height: 350px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.heart-div {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #e93656;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lp-card-info h5 {
  margin: 17px 0 7px 0;
  font-family: muli;
  font-size: 11px;
  color: #dddddd;
  letter-spacing: 0.33px;
}

.lp-card-info h1 {
  margin-bottom: 7px;
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 23px;
  color: #ffffff;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #15263e;
  color: white;
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn:hover {
  width: 150px;
  border-radius: 25px;
  background-color: hsl(200, 20%, 20%);
  text-align: left;
}

.btn.active {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: hsl(220, 30%, 30%);
  text-align: left;
}

.section7 {
  max-width: 1920px;
  width: 100%;
  height: 1953px;
}

.news-and-event {
  color: #2ed279;
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.Latest-Articles {
  color: #2e2e2e;
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}

.article {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-height: 590px;
}

.article-field {
  width: 140px;
  max-height: 590px;
}

.article-description {
  background: #fafafa 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  padding: 80px 0 0 7px;
  max-width: 800px;
  max-height: 590px;
}

.article-description > img {
  max-width: 95px;
  width: 100%;
}

.article-description > h2 {
  font-family: muli;
  color: #888888;
  font-size: 14px;
}

.article-description > h1 {
  font-family: Glacial Indifference;
  font-weight: bold;
  color: #161616;
  font-size: 40px;
}

.article-description > p {
  width: 569px;
  font-family: muli;
  font-weight: bold;
  color: #494949;
  font-size: 16px;
}

.article-description > h3 {
  font-family: muli;
  color: #444444;
  font-size: 13px;
}

.article-year {
  width: 123px;
  color: #e93656;
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 30px;
  background: #15263e 0% 0% no-repeat padding-box;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  align-content: center;
  max-height: 590px;
}

.section8 {
  max-width: 1920px;
  width: 100%;
  height: 530px;
}

.Rosa-Team {
  color: #2e2e2e;
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}

.clients {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5px;
  margin: 80px;
}

.client {
  width: 230px;
  height: 190px;
}

.client-info {
  width: 230px;
  height: 190px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 4px solid #e93656;
}

.client-info > h1 {
  font-family: poppins;
  font-size: 16px;
  color: #161616;
  letter-spacing: 0.32px;
}

.client-info > p {
  font-family: roboto;
  font-size: 13px;
  color: #626262;
  line-height: 1.8;
  width: 164px;
}

.client:hover img {
  display: none;
}

.client:hover .client-info {
  display: flex;
  animation-name: test;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes test {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.section9 {
  height: 660px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/src/images/map.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sec9bg {
  position: absolute;
  z-index: -1;
}

.section9 > h1 {
  font-family: Jaapokki;
  font-size: 45px;
  color: #ffffff;
  filter: brightness(100%);
}

.section9 > p {
  font-family: roboto;
  font-size: 17px;
  color: #eeeeee;
  text-align: center;
  margin: 12px 0 46px 0;
}

.section9 > form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item-4 {
  grid-column: 1 / 4;
}

.contact-field {
  width: 290px;
  font-family: poppins;
  font-size: 10px;
  font-weight: bold;
  padding: 18px 0 17px 30px;
}

.contact-field-4 {
  width: 890px;
  height: 110px;
  font-family: poppins;
  font-size: 10px;
  font-weight: bold;
  padding: 18px 0 17px 30px;
}

.item-5 {
  grid-column: 1 / 4;
  width: 890px;
  display: flex;
  justify-content: center;
}

.item-5 > button {
  font-family: Glacial Indifference;
  font-weight: bold;
  font-size: 12px;
  color: #e93656;
  width: 187px;
  height: 50px;
  background: #daaf1b00 0% 0% no-repeat padding-box;
  border: 2px solid #e93656;
  cursor: pointer;
}

dialog::backdrop {
  background-color: #15263e;
  z-index: 10;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  z-index: 20;
}

.footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  height: 428px;
  color: #a5a5a5;
}

.footer-Roca {
  font-family: poppins;
  font-weight: bolder;
  font-size: 55px;
}

.footer-Roca > span {
  font-family: poppins;
  font-weight: bolder;
  font-size: 55px;
  color: #e93656;
}

.footer-text {
  width: 613px;
  font-family: roboto;
  font-size: 17px;
  letter-spacing: 0.09px;
  text-align: center;
}

.footer-social-media {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.footer-social-media > a > img {
  height: 20px;
}

.all-rights {
  display: flex;
  background-color: #171717;
  height: 82px;
  color: #a0a8b7;
  font-family: muli;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

@media (width <1024px) {
  body {
    max-width: 393px;
    width: 100%;
    margin: 0 auto;
  }

  .section1 {
    max-width: 393px;
    width: 100%;
    padding: 5px;
    position: relative;
    height: auto;
    height: 220px;
  }

  .Roca-div {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .Roca {
    font-size: 20px;
    font-weight: 500;
  }

  .Roca > span {
    font-size: 17px;
  }
  .Resume {
    font-size: 10px;
  }

  .About-me-div {
    max-width: 100px;
    right: 40px;
  }

  .About-me-01 {
    font-size: 40px;
    font-weight: 500;
  }

  .About-me {
    width: 60px;
    font-size: 10px;
    font-weight: 500;
  }

  .second-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    right: 50px;
    top: 100px;
  }

  .second-div-1 {
    font-family: Glacial Indifference;
    font-size: 10px;
  }

  .second-div-2 {
    font-family: Glacial Indifference;
    font-weight: bold;
    font-size: 5px;
  }

  .second-div-3 {
    font-family: Glacial Indifference;
    font-size: 10px;
  }

  .second-div-4 {
    padding-top: 80px;
    display: flex;
    gap: 10px;
  }

  .soc-media-logos {
    display: none;
  }

  .sat-clients {
    display: none;
  }

  .active {
    animation-name: active;
    animation-duration: 1s;

    max-width: 393px;
    width: 100%;
    height: auto;
  }

  .section2 {
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 393px;
    width: 100%;
    height: auto;
  }

  .text {
    width: 300px;
  }

  .my-name {
    font-size: 15px;
  }

  .my-profession {
    font-size: 7px;

    margin: 6px 0 10px 0;
  }

  .my-text {
    font-size: 10px;
  }

  .Hire-Me {
    width: 100px;
    height: 30px;
    margin-top: 10px;
  }

  .my-photo > img {
    max-width: 150px;
    width: 100%;
  }

  .skills {
    width: 250px;
    gap: 5px;
  }

  .skills h1 {
    font-size: 10px;
  }

  .icons {
    display: none;
  }

  .section3 {
    max-width: 390px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 5px;
  }

  .section3 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .section3 > div > a > img {
    width: 40px;
    border: #ffffff 2px;
    border-radius: 45px;
    border-style: dashed;
  }

  .section3 > div > a > img:hover {
    background-color: #e93656;
  }

  .contact-text > h1 {
    font-size: 15px;
  }

  .contact-text > p {
    font-size: 10px;
  }

  .section4 {
    padding: 5px;
    height: auto;
  }

  .section4 > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  .card {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 185px;
    height: 185px;
  }

  .card-head {
    width: 185px;
    height: 185px;
  }

  .card-head > h1 {
    font-size: 15px;
  }

  .card-info {
    width: 185px;
    height: 185px;
  }

  .card-info > h1 {
    font-size: 12px;
  }

  .card-info > p {
    margin-top: 10px;
    width: 150px;
    font-size: 10px;
  }

  .card:hover .card-head {
    display: none;
  }

  @keyframes change {
    from {
      height: 0;
    }
    to {
      height: 180px;
    }
  }

  .section5 {
    background-color: #15263e;
    padding: 5px;
    max-width: 393px;
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  .sec5-bg {
    display: none;
  }

  .rs-slides {
    display: flex;

    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .rs-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .sec5-paragraph {
    max-width: 300px;
    height: auto;
    font-size: 12px;
  }

  .round-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .rs-1 {
    display: flex;
    width: 90px;
    border-radius: 50px;
  }

  .paragraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .paragraph1 {
    display: none;
  }

  .paragraph2 {
    font-size: 10px;
  }

  .paragraph3 {
    width: auto;
    font-size: 14px;
  }

  .rs-buttons {
    gap: 12px;
  }

  .rs-button {
    width: 15px;
    height: 15px;
  }

  .rs-button2 {
    width: 15px;
    height: 15px;
  }

  .section6 {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 393px;
    height: auto;
  }

  .section6 > h1 {
    font-size: 20px;
  }

  .latest-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .nav-div {
    display: flex;
    flex-wrap: wrap;
    background-color: #15263e;
    width: 390px;
    height: auto;
    padding: 20px;
  }

  .lp-cards {
    display: flex;
    justify-content: center;
    width: 400px;
  }

  .lp-card {
    width: 190px;
    height: 222px;
    position: relative;
    display: none;
  }

  .lp-card:hover > img {
    opacity: 0.5;
    filter: blur(5px);
    transition: 0.5s;
  }

  .lp-card:hover .lp-card-info {
    display: flex;
    transition-duration: 0.5s;
  }

  .lp-card-info {
    width: 190px;
    height: 222px;
    display: none;
  }

  .lp-card-info h5 {
    margin: 10px 0 7px 0;
    font-size: 10px;
  }

  .lp-card-info h1 {
    font-size: 15px;
  }

  .show {
    display: block;
  }

  .btn {
    width: 150px;
    height: 50px;
    border: solid black;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .btn:hover {
    width: 150px;
    border-radius: 25px;
    background-color: hsl(200, 20%, 20%);
    text-align: center;
  }

  .btn.active {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: hsl(220, 30%, 30%);
    text-align: left;
  }

  .section7 {
    padding: 5px;
    max-width: 393px;
    width: 100%;
    height: auto;
  }

  .news-and-event {
    margin-top: 20px;
    font-size: 12px;
  }

  .Latest-Articles {
    margin: 15px;
    font-size: 20px;
  }

  .article {
    max-width: 393px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 5px;
  }

  .article-field {
    display: none;
  }

  .article-description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 393px;
    max-height: auto;
  }

  .article-description > img {
    max-width: 50px;
  }

  .article-description > h2 {
    font-size: 10px;
  }

  .article-description > h1 {
    font-size: 20px;
  }

  .article-description > p {
    width: 370px;
    font-size: 12px;
  }

  .article-description > h3 {
    font-size: 10px;
  }

  .article-year {
    width: 380px;
    font-size: 20px;
    background: #15263e 0% 0% no-repeat padding-box;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    height: auto;
  }

  .number-2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .section8 {
    max-width: 393px;
    width: 100%;
    height: 600px;
  }

  .Rosa-Team {
    margin: 15px;
    font-size: 20px;
  }

  .clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 5px;
    margin: 0;
  }

  .client {
    width: 160px;
    height: 160px;
  }

  .client-info {
    width: 150px;
    height: 150px;
    display: none;
    border-radius: 30px;
  }

  .client-info > p {
    font-size: 12px;
    width: 140px;
  }

  .client:hover img {
    display: none;
  }

  @keyframes test {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }

  .section9 {
    padding: 5px;
    max-width: 393px;
    height: auto;
  }

  .sec9bg {
    display: none;
    max-width: 393px;
    position: absolute;
    z-index: 0;
  }

  .section9 > h1 {
    font-size: 20px;
  }

  .section9 > p {
    font-size: 12px;
    margin: 10px;
  }

  .section9 > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  form {
    max-width: 390px;
  }

  .contact-field {
    width: 360px;
    font-size: 10px;
    font-weight: bold;
    padding: 15px;
  }

  .contact-field-4 {
    width: 360px;
    height: 110px;
    padding: 15px;
  }

  .item-5 {
    max-width: 390px;
  }

  .item-5 > button {
    margin: 10px;
    width: 160px;
  }

  dialog::backdrop {
    background-color: #15263e;
    z-index: 10;
  }

  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    z-index: 20;
  }

  footer {
    padding: 5px;
  }

  .footer-div {
    max-width: 393px;
    height: auto;
  }

  .footer-Roca {
    font-size: 20px;
  }

  .footer-Roca > span {
    font-size: 20px;
  }

  .footer-text {
    max-width: 380px;
    font-size: 12px;
  }

  .footer-social-media {
    margin-top: 20px;
  }

  .footer-social-media > a > img {
    height: 20px;
  }

  .all-rights {
    max-width: 393px;
    display: flex;
    background-color: #171717;
    height: 82px;
    color: #a0a8b7;
    font-family: muli;
    font-size: 10px;
    align-items: center;
    justify-content: center;
  }
}
